extends index.pug

block content

  script(type="text/javascript").
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        document.getElementById('ajax').innerHTML = xhr.responseText;
      }
    };

    xhr.open('GET', 'register');
    xhr.send();

  #ajax
