extends index.pug

block content
  //-- I would like this to show a red banner across the top of the page with the error message

  .errorBanner
    h1 Error!
    p= message

//-- I would like a green banner to say "you have succesfully sent and email" or "you have successfuly updated your profiel"
