.recentOnline
  table
    tbody
      tr
        td
          .displayPic
            img(src="/static/css/assets/wallpaper.png")
        td
          p #{name}

          p #{occupation}

          p #{email}
