body {
  main {
    //form
    .signUpContainer, .logInForm {
      width: 70em;
      height: 40em;
      margin: auto;
      margin-top: 10em;

      input {
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        font-weight: bold;
        display: block;
        margin: auto;
        width: 45em;
        height: 4em;
        margin-bottom: 1.5em;
        border-radius: 0.5em;
        border-style: solid;
        border: none;
        outline: none;
      }

      textarea {
        font-family: 'Varela Round', sans-serif;
        text-align: justify;
        font-weight: bold;
        border-radius: 0.5em;
        border-style: solid;
        border: none;
        outline: none;
        margin: 0px;
        height: 15em;
        width: 45em;
        margin-bottom: 1.5em;
      }

    //form buttons
      button {
        width: 35em;
        height: 2.5em;
        margin-bottom: 1em;
        color: aliceblue;
        font-family: 'Varela Round', sans-serif;
        font-size: 1.3em;
        border-radius: 0.5em;
        background-color: steelblue;
        border-style: solid;
        border: none;
        outline: none;
      }

      button:active {
        background-color: #6ca2d7;
      }

      button:hover {
        cursor: pointer;
      }

      .logInBtn {

      }

      .forgotPwrd {
        margin: auto;
        margin-top: 0.5em;
        p{
          font-family: 'Varela Round', sans-serif;
          color: steelblue;
        }
      }
    }
  }
}
